# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=us-east-2
AWS_S3_BUCKET=your_s3_bucket_name_here

# Luma AI API Key
LUMA_API_KEY=your_luma_api_key_here

# Replicate API Key
REPLICATE_API_KEY=your_replicate_api_key_here
